.col img {
  width: 40%;
  float: right;
  margin-top: 5%;
  margin-right: 10%;
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.navbar div {
  margin-right: 5%;
  margin-left: 10%;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit-button {
  margin-right: 2%;
}

.nav-item a {
  font-size: 1.4em;
  color: white;
  text-decoration: none;
}

.nav-item a:hover {
  color: rgb(187, 31, 31);
}
