.col img {
  width: 40%;
  float: right;
  margin-top: 5%;
  margin-right: 10%;
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.navbar div {
  margin-right: 5%;
  margin-left: 10%;
}

.navbar div:last-of-type {
  margin-right: 30px;
}

.submit-button {
  margin-right: 2%
}