.col img {
  width: 40%;
  float: right;
  margin-top: 5%;
  margin-right: 10%;
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#top-nav {
  justify-content: space-around;
}

.nav-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit-button {
  margin-right: 2%;
}

.nav-item a {
  font-size: 1.4em;
  color: white;
  text-decoration: none;
}

.nav-item a:hover {
  color: rgb(203, 56, 56);
}